/* General */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --background-pink:#e696a3;
}

/* Menu and logo */

.header {
  background-color: var(--background-pink);
  color: white;
  min-width: 320px;
  display: flex;
  justify-content: flex-end;
}


.header a {
  color: white;
  min-width: 320px;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem;
}

.container li {
  display: inline-block;
}

.main {
  width: 100%;
  min-width: 320px;
  background-color: var(--background-pink);
  padding: 50px;
}

.container-main {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.container-img {
  width: 250px; 
  height: 250px;
}

.container-main h1 {
  font-size: 3.4rem;
  min-width: 320px;
  max-width: 900px;
  padding: 50px;
  text-align: center;
  align-self: center;
  color: white;
}

